*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.background-image{
    width: 100%;
    opacity: 80%;
    position: relative;
    bottom: 50px;
}

nav{
    position: absolute;
    top: 0%;
    width: 100%;
}

.logo-header{ 
    height: 70px;
}

.title-nav{
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;

    position: relative;
    bottom: 30px;
}

nav ul{
    display: inline-block;
    position: absolute;
    right: 30px;
    padding-top: 25px;
}

nav ul li{
    align-items: center;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.title{
    position: absolute;
    top: 20%;
    right: 8%;
}

.title h1{
    font-size: 48px;
}

.title h2{
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: black;
}

.service-container{
    display: flex;
    justify-content: space-around;
}

.trat-corp-container, .trat-fac-container, .nutri-container, .fisio-container{
    width: 190px;
    display: inline-block;
}

.img-service{
    width: 160px;
}

.h-service{
    padding-top: 10px;
}

.p-service{
    padding-top: 15px;
    font-weight: 500;
}

.aboutUs-container{
    background-color: rgba(237, 211, 162, 0.4);
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 50px 0px;
}

.aboutUs-container section{
    background-color: rgba(237, 211, 162, 0.8);
    margin: 50px;
    padding: 50px 40px;
    border-radius: 10%;
    width: 45%;
}

.h3-aboutUs{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0px;
    font-size: 30px;
}

.p-aboutUs{
    text-align: center;
    padding: 0px 15px;
    font-weight: 500;
    font-size: 17px;
}

.fisio-span{
    font-weight: bold;
}

footer{
    background-color: #272725;
    color: #AA9F7B;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.indicador-footer{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.p-footer{
    padding: 5px;
}

.redes-sociales{
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

.logo-footer{
    width: 100px;
    position: relative;
    left: 50px;
}